/*Tipografias, reset*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Layout*/
.header {
  background-color: black;
  position: sticky;
  top: 0; }

.headerContenedor {
  background-color: black;
  font-family: 'Josefin Sans', sans-serif; }
