
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,400&display=swap');


/* Tipografía
font-family: 'Josefin Sans', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/*---------------Header----------------*/

.header{
    background-color: rgb(0, 0, 0);
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    width: 100%;
    position: sticky;
    top:0px;
    z-index: 1;
}
.headerLogito a{
    /* background-color: blue; */
    display: flex;
    justify-content:center;
}
.headerLogito img{
    width: 70%;
    /* background-color: red; */
}
.header ul {
    /* background-color: red; */
    display: flex;
    width: 40rem;
    justify-content:space-evenly;
}
.headerLi{
    list-style: none;
    display: flex;
    align-items: center;
    /* background-color: #343537; */
}
.headerLiA{
    text-decoration: none;
    color:white;
    padding: 0.2em 1em;
    /* background-color: #0F5EA1; */

}
.headerLiA img{
   /* background-color:blue; */
   width: 70%;
}
/*---------------Main----------------*/

/*----------------Inicio---------------------*/
.inicioMainS1{
    background-image: url(../assets/img/portadad.jpeg);
    background-size: cover;
    padding: 1em  0;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.inicioMainS1ApartadoTiulo{
     /* background-color: rgba(38, 65, 52, 0.507); */
     padding: 1em;
     padding-left:6em;
     color: white;
     font-family: 'Josefin Sans', sans-serif;
     width: 60%;
     text-transform: uppercase;
     align-self: flex-start;
 }
.inicioMainS1ApartadoTiulo h1{
    font-size:3rem;
 }
.inicioMainS1ApartadoTiulo p{
    font-size: 1.1rem;
    margin:1rem 0 1rem 0;
    font-weight: 1;
}
.inicioMainS1ApartadoTiulo button{
     background-color: #04f3c3;
     border-style: none;
     border-radius: 0.5rem;
     padding: 0.7em 1.8em 0.4em 1.8em;
}
 .inicioMainS1ApartadoTiulo a{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: yellow;
    text-decoration: none;
    letter-spacing:0.1em;
 }
.inicioMainS1ContenedorImg{
    background-color: red;
    margin-right: 1em;
    display: flex;
    justify-content: center;
    width: 40%;
    height:25rem;
    border-radius: 71% 29% 30% 70% / 63% 75% 25% 37%;
    overflow: hidden;

}
.inicioMainS1ContenedorImg img{
    width:100%;
 }

 .inicioMainS1Waves{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100px;
 }

 .inicioMainS2{
    /* background: linear-gradient(to top left, rgb(102, 30, 102),rgba(38, 185, 196, 0.583) 50%, rgb(102, 30, 102) ); */
    padding: 0.5em;
    min-height: 80vh;
}

.inicioMainS2Clientes{
    /* background-color:#2c2f329b; */
    font-family: 'Josefin Sans', sans-serif;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0.5rem;
    line-height: 2.5rem;
}
.inicioMainS2Clientes h2{
    font-size: 2.5rem;
}
.InicioMainS2ContenedorMensajes{
    /* background-color: red; */
    /* border: black solid 1px; */
    margin-top:2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family:'Josefin Sans', sans-serif;
}
.InicioMainS2Mensajes{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
    min-height:18rem;
    padding: 4rem 3em 0 3em;
    position: relative;
    margin-bottom:3rem;
    border-radius: 28% 72% 58% 42% / 54% 60% 40% 46%;
    text-align: center;
}
.InicioMainS2Mensajes::after{
    content: "";
    display: block;
    /* background-color: red; */
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    z-index: -1;
    background-image: url(../assets/svg/pinceles.svg);
    background-size: contain;
    transform: rotateZ(50deg);
}
.InicioMainS2ContenedorFoto{
    background-color: blue;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top:0;
}
.InicioMainS2ContenedorFoto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.InicioMainS2ContenedorComillas{
    /* background-color: yellow; */
    width: 3rem;
    height: 3rem;
}
.InicioMainS2ContenedorComillas svg{
    width: 100%;
    height: 100%;
    fill:#0F5EA1;
}
.inicioMainS3{
    background: linear-gradient(to top right, rgb(7, 99, 100),rgba(20, 162, 164, 0.524) 50%, rgb(102, 30, 102) );
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4,auto);
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    padding: 0.5rem;
}
.inicioMainS3Novedades{
    /* background-color:#535557; */
    background-color: rgba(74, 66, 66, 0.497);
    padding: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    grid-column:2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0.5rem;

}
.inicioMainS3ContenedorImg{
    /* background-color: #5C7C8D;  */
    grid-row: 2/-1;
    grid-column: 2;
}
.inicioMainS3ContenedorImg img{
    width: 100%;
    height: 100%;
}
.inicioMainS3Articulos{
    /* background-color: aquamarine; */
    padding: .3125rem;
    display: grid;
    grid-template-columns:60% 40%;
    grid-template-rows: repeat(2,auto);
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    border-radius: 0.5rem;
}
.inicioMainS3Articulos.art1{
    background-color: #8A7E63;
    grid-row: 1;
}
.inicioMainS3Articulos.art2{
    background-color: #251406;
    grid-row: 2;
}
.inicioMainS3Articulos.art3{
    background-color: #0F5EA1;
    grid-row: 3;
}
.inicioMainS3Articulos img{
    grid-row: span 2;
    width: 100%;
}
.inicioMainS3Articulos h3{
    grid-column: 2;
    text-align: center;
    justify-self: center;
    align-self: center;
    padding: 0.8em;
}
.inicioMainS3Articulos p{
    grid-column:2 ;
    padding: 0.5em;
}
/*----------------Nosotros---------------------*/
.nosotrosMainS1{

    background-image: url(../assets/img/Nuevo.jpg);
    background-color: #0c70c6bf;
    color: transparent;
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nosotrosMainS1Titulo{
    width: 70%;
    text-align: center;
}
.nosotrosMainS1Titulo h1{
    font-size: 9rem;
    text-transform: uppercase;
    background-image: url(../assets/img/paraFondoTexto2.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position-y: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: cesar;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
.nosotrosMainS1Titulo p{
    font-size: 1.5rem;
    font-weight: 1;
    padding: 0.8em 2em;
    color: white;
    background-color: #000000b4;
}
.nosotrosMainS2Historia{
    background-color: #bc5b5b96;
    background-image: url(../assets/img/autoFondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:auto auto;
    padding: 0.5rem;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    min-height:100vh ;
}
.nosotrosMainS2Historia h2{
    /* background-color: rgb(95, 167, 63); */
    grid-column:span 2;
    text-align: center;
    font-weight: 1;
    font-size: 3rem;
    align-self: center;
}
.nosotrosMainS2ContenedorImg{
    width: 100%;
    /* background-color: #251406; */
}
.nosotrosMainS2ContenedorImg img{
    width: 100%;
}
.nosotrosMainS2Texto{
    /* background-color: rgba(61, 61, 76, 0.31); */
    line-height:1.2rem;
    text-align: center;
    padding: 0.5em;
    font-size: 1.2rem;
    font-weight: 1;
}
.nosotrosMainS2Texto button{
    background-color: #201f1f6d;
    border-style: none;
    padding: .8em 1.5rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
}
.nosotrosMainS2Texto  a{
    text-decoration: none;
    color: white;
    letter-spacing: .2em;
}
.nosotrosMainS3{
    /* background-color: red; */
    padding: 0.5em 0;
}
.nosotrosMainS3Gestion{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    /* background-color:#0f2a41; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nosotrosMainS3Gestion h2{
    font-size: 3rem;
    font-weight: 1;
    padding: 0.5em 0;

}
.nosotrosMainS3ContenedorImg{
    width: 100%;
}
.nosotrosMainS3ContenedorImg img{
    width: 100%;
    height: 100%;
}

.nosotrosMainS3Gestion p{
    /* background-color: rebeccapurple; */
    font-size: 1.2rem;
    width: 50%;
    padding: 0.5em;
}
.nosotrosMainS3Equipo{
    /* background-color: #0f2a41; */
    font-family: 'Josefin Sans', sans-serif;
}
.nosotrosMainS3Equipo h2{
    font-size: 3rem;
    font-weight: 1;
    padding: 0.5em 0;
    text-align: center;
}
.nosotrosMainS3ContenedorArt{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.nosotrosMainS3Art{
    /* background-color: red; */
    padding: 0.1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nosotrosMainS3ContenedorArtImg{
    width: 80%;
    /* background: linear-gradient(to top right, rgba(38, 225, 228, 0.912),rgba(20, 162, 164, 0.182) 50%, rgba(138, 82, 138, 0.705) ); */
}
.nosotrosMainS3ContenedorArtImg img{
    width: 100%;
    height: 100%;
    border: 4px solid;
    border-image: linear-gradient(to top right, rgba(1, 223, 226, 0.912),rgba(232, 140, 2, 0.899) 50%, rgba(236, 6, 236, 0.963));
    border-image-slice: 1;
    clip-path: polygon(50% 0%, 100% 10%, 100% 87%, 50% 100%, 0 87%, 0 9%);
    /* clip-path: polygon(49% 3%, 68% 0, 100% 18%, 97% 92%, 51% 100%, 51% 100%, 3% 92%, 0 17%, 30% 0); */


}
.nosotrosMainS3InfoArt{
    /* background-color: red; */
    text-align: center;
    padding: 0.5em;
}
/*----------------Producto---------------------*/
.productoMainS1{
     font-family: 'Josefin Sans', sans-serif;
     color: black;
     text-align: center;
     /* background-color: #0f2a41; */
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
}
.productoMainS1 h1{
    padding: 1.5rem 0;
    font-size: 3.5rem;
}
.productoMainS1Contenedor{
    background-color: #2b252ad7;
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    justify-content: space-evenly;
    width: 70%;
}
.productoMainS1Producto{
    /* background-color: #11579dac; */
    line-height: 2rem;
    color: white;
    width: 17rem;
}
.productoMainS1ContenedorImg{
    background-color: rgba(255, 0, 0, 0.663);
    width: 100%;
    height: 20rem;
    border-radius: 0.5rem 0.5rem 0 0 ;
    overflow: hidden;
}
.productoMainS1ContenedorImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.productoMainS1InfoProducto{
    background-color: rgba(2, 2, 2, 0.426);
    padding: 0.5em;
    font-weight: 300;
}
.productoMainS1InfoProducto span{
    font-size: 2rem;
}
.productoMainS1InfoProducto strong{
    font-weight: 1;
}
.productoMainS1InfoProducto img{
    max-width: 3.5rem;
    max-height: 3.5rem;
    object-fit: cover;
}

.productoMainS2{
    font-family: 'Josefin Sans', sans-serif;
    /* background-color: #2f410f; */
    padding: 0.5em;
    display: flex;
    gap: 0.2rem;
}
.productoMainS2Categorias{
    background-color: rgba(53, 53, 55, 0.807);
    padding: 0.5em;
    color: white;
    line-height: 2rem;
    width: 20%;
    height:50%;
}
.productoMainS2Categorias input{
    width: 100%;
    height: 2.5em;
    margin: 0.5rem 0;
    padding: 0.2em;
    border-radius: .3125rem;
    border-style: none;
    box-shadow: 0px 0px 5px 2px #156bb589;
}
.productoMainS2Contenedor{
    background-color: rgba(60, 53, 53, 0.665);
    border-radius: 0.5rem;
}
.productoMainS2Contenedor li{
    list-style: none;
}
.productoMainS2Contenedor a{
    text-decoration: none;
    color: white;
    margin-left: 2rem;
}
.productoMainS2ÇontendorProductos{
    background: linear-gradient(to top right, rgba(166, 18, 196, 0.549),rgba(66, 162, 163, 0.524) 50%, rgba(17, 37, 213, 0.584) );
    color: white;
    padding: 1rem;
    width: 80%;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}
.productoMainS2Producto{
    background-color:transparent;
    border-radius: .3125rem;
    overflow: hidden;
}
.productoMainS2ContenedorImg{
    /* background-color: #5C7C8D; */
    width: 100%;
    height: 22rem;
}
.productoMainS2ContenedorImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.productoMainS2InfoProducto{
    background-color: rgba(2, 2, 2, 0.426);
    font-weight: 1;
    line-height: 2rem;
    width: 100%;
    padding: 0.5rem;
}
.productoMainS2InfoProducto span{
    font-size: 1.5rem;
}
.productoMainS2InfoProducto img{
    max-width: 3.5rem;
    max-height: 3.5rem;
    object-fit: cover;
}

/*----------------Contacto---------------------*/
.contactoMainS1{
    background-image: url(../assets/img/contacto3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    display: flex;
    align-items: center;
}
.contactoMainS1InfoPrincipal{
    background-color:rgba(62, 70, 6, 0.326);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1.5em;
}
.contactoMainS1InfoPrincipal h1{
    font-size: 3rem;
    margin-bottom: .8rem;
}
.contactoMainS1ContenedorImg{
    /* background-color: red; */
    padding: 0.2em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contactoMainS1ContenedorImg img{
    /* background-color: blue; */
    width: 1.5rem;
}
.contactoMainS2{
    font-family: 'Josefin Sans', sans-serif;
    /* background-color: #4f5f6f; */
    display: grid;
    padding: 0.5rem;
    grid-template-columns: repeat(auto-fit,minmax(28rem,1fr));
    row-gap: 0.5rem;
    column-gap: 0.5rem;
}
.contactoMainS2 h2{
    text-align: center;
    margin: 1.5rem;
    font-size: 2.5rem;
    grid-row: 1;
    grid-column: 1/-1;
}
.contactoMainS2ContenedoForm{
    /* background-color: #4c301994; */
    color: black;
    width: 80%;
    padding: 0.5em;
    border-right: 0.3rem solid #8a6060;
    justify-self: center;
    display: flex;
    justify-content: center;
    scroll-margin-top: 7rem;
}
.contactoMainS2ContenedoForm form{
    /* background-color: #0F5EA1; */
    width: 90%;
    padding: 0.5em;
    font-family: 'Josefin Sans', sans-serif;

}
.contactoMainS2ContenedoForm select{
    width: 35%;
    height: 2rem;
    margin:1rem 0;
    font-family: 'Josefin Sans', sans-serif;

}
.contactoMainS2ContenedoForm input{
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    height: 2rem;
    margin-top: 1rem;
    padding: 0.5em;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    /* border-radius: 0.2rem; */
}
.contactoMainS2ContenedoForm textarea{
    /* background-color: red; */
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    height: 5rem;
    padding: 0.5em;
    border: #323436 solid 0.2rem;
}
.contactoMainS2ContenedoForm button{
    background-color:#151516ea;
    padding: 0.5em  1rem;
    color: white;
    letter-spacing: .125rem;
    border-style: none;
    border-radius: .3125rem;
}
.contactoMainS2InfoCliente{
    /* background-color: red; */
    width: 80%;
    justify-self: center;
}
.contactoMainS2InfoCliente h3{
    font-size: 2rem;
    margin:1rem 0;
    color:white;
}
.contactoMainS2Info{
    /* background-color: #22232431; */
    background-color:rgba(249, 0, 63, 0.583);
    padding: 0.5rem ;
    margin-bottom: 2rem;
    line-height: 1.5rem;
    border-radius: 0.2rem;
    scroll-margin-top: 7rem;
}
.contactoMainS2Info span{
    color: #0F5EA1;
}
.contactoMainS2Sucursales{
    background-color: #0864eea9;
    padding: 0.5rem;
    border-radius: 0.2rem;
    scroll-margin-top:7rem ;
}
.contactoMainS2Sucursales iframe{
    width: 100%;
    border-radius: 5px;
}


/*----------------CarritoCompras---------------------*/
.carroMain{
    display: flex;
    justify-content: center;
}
.carroMainS1{
    /* background: red; */
    display: grid;
    grid-template-columns:75% auto;
    column-gap: 1rem;
    width: 100%;
    padding: 1em;
}
.carroMainS1CarritoCompra{
    background-color: #b6a3a7;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0.5em;
    width: 100%;
}
.carroMainS1CarritoCompra h1{
    color: black;
    padding: 0.2em;
    font-size: 2.4rem;
    text-align: center;
    /* background-color: #04f3c3; */
}
.carroMainS1Contendor{
    background-color: #559ae0;
    /* padding: .15rem; */
}
.carroMainS1Producto{
    background-color:white;
    margin-bottom: 0.5rem;
    padding: 0.5em;
    display: flex;
    gap: 2rem;
}
.carroMainS1ContenedorImg{
    background-color: #0f2a41;
    width: 20rem;
    height:20rem
}
.carroMainS1ContenedorImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carroMainS1InfoProducto{
    line-height: 2.5rem;
}
.carroMainS1InfoProducto select{
    width: 5rem;
    height: 1.5rem;
}
.carroMainS1InfoProducto a{
    text-decoration: none;
    color: #0F5EA1;
}
.carroMainS2ResumenCompra{
    background-color: #d43e5c;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    padding: 0.5em;
    line-height: 2.5rem;
    width: 100%;
    justify-self: center;
}
.carroMainS2ResumenCompra h2{
    background-color: #0f2a41;
    padding: 0.32em;
}
.carroMainS2ResumenCompra a{
    text-decoration: none;
    color: #0F5EA1;
    background-color: white;
    padding: 0.4em;
    border-radius: .2rem;
}
/*---------------Footer----------------*/

.footer{
    background-color: black;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);

}

.footerPagos{
    /* background-color: #0F5EA1; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.contenedorPagos{
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.footerLogitoMapa{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerRedes{
    /* background-color: #7e90a2; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.contenedorRedes{
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}
.footerCopyright{
    grid-column: span 3;
    /* background-color: #8a6060; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerCopyright img{
    width:18px;
}



/* KeyFrames*/

    /*Animación Incio*/


    /*Animación Nosotros*/
@keyframes cesar{
    0%{
        background-position-y:8px ;
        background-image: url(../assets/img/paraFondoTexto3.jpg);
    }
    50%{
        background-image: url(../assets/img/paraFondoTexto.jpg);
    }
    100%{
        background-image: url(../assets/img/paraFondoTexto2.jpg);
    }

}



/* Media query */

@media (max-width: 782px){
/* *********Header******* */
    .header{
    flex-direction: column;
   }
   .header ul{
    width: auto;
   }

/* *********Inicio******* */


    .inicioMainS2ContenedorImgSeccion
   {
    display: none;
    }
    .inicioMainS2Clientes{
        grid-column: span 2;
    }
    .inicioMainS2Contenedor{
        grid-column: span 2;
    }
    .inicioMainS3{
        background-color: #f90505;
        grid-template-rows: 15rem auto auto auto;
    }
    .inicioMainS3Novedades{
        grid-column: span 2;
        grid-row: 1;
    }
    .inicioMainS3Articulos.art1
    {
        grid-column: span 2;
        grid-row:2 ;
    }
    .inicioMainS3Articulos.art2
    {
        grid-column: span 2;
        grid-row:3;
    }
    .inicioMainS3Articulos.art3
    {
        grid-column:span 2;
        grid-row: 4;
    }
    .inicioMainS3ContenedorImg{
        display: none;
    }
 /* *********Footer******* */
    .footer{
        grid-template-rows: repeat(4,auto);
        row-gap: 1rem;
       }
       .footerPagos{
        grid-column: span 3;
        grid-row: 2;
       }
       .footerLogitoMapa{
        grid-column: span 3;
        grid-row: 1;
       }
       .footerRedes{
        grid-column: span 3;
       }
       .footerCopyright{
        grid-column: span 3;
       }
}

