
@import "./utilitis/variables.scss";
@import "./utilitis/mixins.scss";
/*---------------Typo & reset----------------*/
@import "./bas/typo.scss";
@import "./bas/reset.scss";

/*---------------Componentes----------------*/
@import "./componentes/botone.scss";
@import "./componentes/tarjetasProductos";

/*---------------Header----------------*/
@import "./layout/header.scss";

/*---------------Main----------------*/
@import "./layout/mainInicio.scss";

@import "./layout/mainNosotros.scss";

@import "./layout/mainProductos.scss";

@import "./layout/mainContacto.scss";

@import "./layout/mainCarrito.scss";

/*---------------Footer----------------*/
@import "./layout/footer.scss";

/*---------------Medias----------------*/

@import "./layout/media/media1222.scss";

@import "./layout/media/media800.scss";

@import "./layout/media/media630.scss";

@import "./layout/media/media480.scss";

/* KeyFrames*/

/*Animación Nosotros*/
@keyframes animacionFondo {
    0% {
        background-position-y: 8px;
        background-image: url(../assets/img/paraFondoTexto3.jpg);
    }

    50% {
        background-image: url(../assets/img/paraFondoTexto.jpg);
    }

    100% {
        background-image: url(../assets/img/paraFondoTexto2.jpg);
    }

}