@media (max-width: 630px) {

    /**********Inicio******* */
    .inicioMainS3ContenedorImg {
        /* background-color: #7704f3; */

        height: 70%;
    }

    .art1 {
        grid-column: 1/6;
        grid-row: 1;
    }

    .art2 {
        grid-column: 1/6;
        grid-row: 2;
    }

    .art3 {
        grid-row: 3;
        grid-column: 1/6;
    }

    .art4 {
        grid-row: 4;
        grid-column: 1/6;
    }

    .art5 {
        grid-row: 5;
        grid-column: 1/6;
    }

    .art6 {
        grid-row: 6;
        grid-column: 1/6;
    }

    .art7 {
        grid-row: 7;
        grid-column: 1/6;
    }

    .art7 iframe {
        height: 15rem;
    }

    /* *********Nosotros******* */
    .nosotrosMainS1 {
        h1 {
            // border:blue solid 2px;
            font-size: calc(0.5vw + 5rem);
        }
    }


    /* *********Productos******* */
    .swiper-slide {
        width: 10rem;
    }

    /* *********Contacto******* */

    .contactoMainS2 {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));

    }

    .contactoMainS2ContenedoForm {
        width: 100%;
        border: 0;

        form {
            width: 100%;
        }
    }

    .contactoMainS2InfoCliente {
        width: 100%;
    }

    /*************Carrtio*********/
    .carroMainS1Destalles {
        justify-content: space-between;

        a {
            margin-right: 0;
        }
    }


    /* *********Footer******* */
    .footer {
        grid-template-rows: repeat(4, auto);
    }

    .footerPagos {
        grid-column: span 3;
        grid-row: 2;
    }

    .footerLogitoMapa {
        grid-column: span 3;
        grid-row: 1;
    }

    .footerRedes {
        grid-column: span 3;
    }

    .footerCopyright {
        grid-column: span 3;
    }
}