@media (max-width:800px) {

    
    /* *********Inicio******* */
    .swiperContenedor {
        width: 100%;
     
    }
    /* *********Nosotros******* */
    .nosotrosMainS2Historia{
        row-gap: 1rem;
    }
    .nosotrosMainS2ContenedorImg{
        grid-column: 1/3;
    } 
    .nosotrosMainS2Texto{
        grid-column: 1/3;
    }
    .nosotrosMainS4Clientes {
        p {
            //border: red solid 1px;
            font-size: calc(1vw + 0.9rem);
            width: 90%;
            padding: 0;
        }
    }
    /* *********Productos******* */
    .swiper-slide {
        width: 15rem;
    }
}
