@media (max-width: 630px) {

    /**********Inicio******* */
    .inicioMainS3ContenedorImg {
        /* background-color: #7704f3; */

        height: 70%;
    }

    /* *********Nosotros******* */
    .nosotrosMainS1 {
        h1 {
            // border:blue solid 2px;
            font-size: calc(0.5vw + 5rem);
        }
    }



    /* *********Productos******* */
    .swiper-slide {
        width: 10rem;
    }

    /* *********Contacto******* */
 

    .contactoMainS2 {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));

    }

    .contactoMainS2ContenedoForm {
        width: 100%;
        border: 0;

        form {
            width: 100%;
        }
    }

    .contactoMainS2InfoCliente {
        width: 100%;
    }

    /*************Carrtio*********/
    
    .cardCarritoContenedoImg {
        width: 50%;
        height: fit-content;
    }
    
    .cardCarritoContenedorInfo {
        width:50%;
    }

    .cardCarritoFooter {
        justify-content: space-between;
        margin-top: 0.5rem;
        a {
            margin-right: 0;
        }
    }
    

    /* *********Footer******* */
    .footer {
        grid-template-rows: repeat(4, auto);
    }

    .footerPagos {
        grid-column: span 3;
        grid-row: 2;
    }

    .footerLogitoMapa {
        grid-column: span 3;
        grid-row: 1;
    }

    .footerRedes {
        grid-column: span 3;
    }

    .footerCopyright {
        grid-column: span 3;
    }
}