@media (max-width:800px) {

    
    /* *********Inicio******* */
    .swiperContenedor {
        width: 100%;
     
    }
    /* *********Nosotros******* */
    .nosotrosMainS2Historia{
        row-gap: 1rem;
    }
    .nosotrosMainS2ContenedorImg{
        grid-column: 1/3;
    } 
    .nosotrosMainS2Texto{
        grid-column: 1/3;
    }
    /* *********Productos******* */
    .swiper-slide {
        width: 15rem;
    }
}
