.header {
    background-color: $colorHeader;
    font-family: $fuentePrincipal;
    position: sticky;
    top: 0px;

}

.headerContenedor {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.headerLogito {
    a {
        display: block;
        width: 7rem;
        height: 4rem;

        svg {
            width: 100%;
            height: 100%;
            transition: all linear 0.5s;
            filter: drop-shadow(-10px 0px 15px rgb(0, 238, 255)) drop-shadow(10px 0px 15px rgb(255, 0, 251));

            &:hover {
                transform: rotateZ(-5deg);
            }
        }
    }
}

.headerContenedorNavegador {
    flex-grow: 0;/*Reset del valor de bootstrap*/
    ul {
        display: flex;
        width: 40rem;
        justify-content: space-evenly;
        // border: red solid 1px;
        li {
            list-style: none;
            display: flex;
            align-items: center;
            padding: 0.1em;
            // border: #fffb02 solid 1px;
            a{
                text-decoration: none;
                color: white;
                padding: 0.2em 1em;
                // border: aqua solid 1px;
            }
        }
      
    }
}

.headerContenedorIconCarrito {
    /* background-color: red; */
    padding: 0.4em 0.5em 0.6em 0.5em;
    margin: 0.5rem;
    /*para que pegue a los costados en dimensiones pequeñas*/
    border-radius: 50%;
    transition: all linear 0.5s;
    border: black solid 1px;
}

.headerContenedorIconCarrito svg {
    fill: #ffffff;
    width: 2rem;
}

.headerContenedorIconCarrito:hover {

    border-color: fuchsia;
    box-shadow: 0px 0px .7rem .1rem #f304f3;
}