.carroMainS1 {
    display: grid;
    grid-template-columns: 75% 1fr;
    gap: 1em;
    padding: 1em;
    font-family: $fuentePrincipal;
}

.carroMainS1CarritoCompra {
    //border: blue solid 5px;
    padding: 0.5em 2em;
    width: 100%;
    grid-column: 1;
    grid-row: span 2;
    @include shadowCarrito();

    h1 {
        padding: 0.2em;
        font-size: clamp(2rem, 5vw, 3rem);
        text-align: center;
    }
}

.carroMainS1ResumenCompra {
    padding: 1em 0.5em;
    width: 100%;
    grid-column: 2;
    @include shadowCarrito();

    h2 {
        padding: 0.32em 0;
        font-size: 1.5rem;
    }

    table {
        margin-bottom: 1rem;

        span {
            font-weight: bold;
            font-size: 1.3rem;
        }
    }

    a {

        font-size: 1.1rem;
    }
}

.carroMainS1OtrosProductos {
    grid-column: 2;
    padding: 1em 0.5em;
    @include shadowCarrito();

    h3 {
        font-size: 1.3rem;
    }

}

.carroMainS1ContenedorOtros {
    //border: #020202 solid 1px;
    padding: 0.1em;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.carroMainS1OtroArticulo {
    //border: blue solid 1px;
    display: flex;

    img {
        // border: #f1f500 solid 1px;
        width: 7rem;

    }

    ul {
        // border: red solid 1px;
        padding: 0.4em;
        margin: 0;

        li {
            list-style: none;

            span {
                font-size: 1.1rem;
            }

            P {
                font-size: 0.8rem;
                line-height: 0.7rem;
            }

            strong {
                color: #F10F4D;
            }

            a {
                font-size: 0.8rem;
            }
        }
    }
}