.contactoMainS1 {
    background-image: url("https://i.postimg.cc/x8myXrN9/contacto3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 35rem;
    font-family: $fuentePrincipal;
    color: white;
    display: flex;
    align-items: center;
}

.contactoMainS1InfoPrincipal {
    background-color: rgba(62, 70, 6, 0.326);
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1em;

    h1 {
        //font-size: 3rem;
        font-size: clamp(2rem, 5vw, 3rem);
    }
}


.contactoMainS1ContenedorIcon {
    // border: red solid 1px;
    padding: 0.2em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    svg {
        fill: white;
        width: 1.5rem;
    }

}

.contactoMainS2 {
    //border: #0F5EA1 solid 1px;
    font-family: $fuentePrincipal;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
    gap: 1rem;
    h2 {
        text-align: center;
        font-size: 2.5rem;
        grid-row: 1;
        grid-column: 1/-1;
        color: $colorHeader;
    }
}

.contactoMainS2ContenedoForm {
    width: 80%;
    height: fit-content;
    padding: 0.5em;
    border-right: 0.3rem solid $colorHeader;
    justify-self: center;
    display: flex;
    justify-content: center;
    scroll-margin-top: 5rem;

    form {
        //border: #0F5EA1 solid 1px;
        width: 90%;
        padding: 0.5em;

        select {
            width: 35%;
            height: 2rem;
            margin: 1rem 0;
        }

        input {
            width: 100%;
            height: 2rem;
            margin: 0.5rem 0;
            padding: 0.5em;
        }

        textarea {
            width: 100%;
            height: 5rem;
            padding: 0.5em;
            border: $colorHeader solid 0.2rem;
        }

        button {
            border: none;
        }
    }
}

.contactoMainS2InfoCliente {
    width: 80%;
    justify-self: center;
    h3 {
        font-size: 2rem;
        margin: 1rem 0;
        color: white;
    }
}

.contactoMainS2Info {
    /* background-color: #22232431; */
    background-color: rgba(249, 0, 63, 0.583);
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0.2rem;
    scroll-margin-top: 5rem;

    span {
        color: #0F5EA1;
    }
}

.contactoMainS2Sucursales {
    background-color: #0864eea9;
    padding: 0.5rem;
    border-radius: 0.2rem;
    scroll-margin-top: 5rem;
    
    iframe {
        width: 100%;
        border-radius: 5px;
    }
}
