.productoMainS1 {
    // border: #00ddfa solid 1px;
    font-family: $fuentePrincipal;
    color: black;
    background: #C9CCD3;
    background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);
    background-blend-mode: lighten;
    padding: 0.5em;

    h1 {
        font-size: calc(1vw + 2.2rem);
        text-align: center;
    }
}

.productoMainS1Contenedor {
    // border: #f77062 solid 1px;
    width: 100%;
    padding: 2em 0;
    height: fit-content;
    overflow: hidden;
}

.swiper-slide {
    // border: #020202 solid 2px;
    width:18rem;

}


.productoMainS2 {
    // border: #00ddfa solid 1px;
    font-family: $fuentePrincipal;
    padding-top: 1rem;
}

.productoMainS2Filtro {

    // border: #f77062 solid 1px;
    .dropbtn {
        width: 10rem;
    }

    .offcanvas {
        background-color: #14131346;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}

.productoMainS2ContendorProductos {
    border: #00ddfa solid 0px;
}

