.productoMainS1 {
    // border: #00ddfa solid 1px;
    font-family: $fuentePrincipal;
    color: black;
    background: #C9CCD3;
    background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);
    background-blend-mode: lighten;
    padding: 0.5em;

    h1 {
        font-size: calc(1vw + 2.2rem);
        text-align: center;
    }
}

.productoMainS1Contenedor {
    // border: #f77062 solid 1px;
    width: 100%;
    padding: 2em 0;
    height: fit-content;
    overflow: hidden;
}

.swiper-slide {
    // border: #020202 solid 2px;
    width: 18rem;

}

.productoMainS1Producto {
    border: 4px solid;
    border-image: linear-gradient(to top right, rgba(1, 223, 226, 0.912), rgba(232, 140, 2, 0.899) 50%, rgba(236, 6, 236, 0.963));
    border-image-slice: 1;
    color: white;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 50px 5px rgb(252, 252, 252);
    transition: all linear 0.5s;

}

.productoMainS1ContenedorImg {
    width: 100%;
    /* El alto de pagina se adapta  a la imagen height: auto; */
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        transition: all linear 0.3s;

        &:hover {
            transform: scale(1.2);
        }
    }
}


.productoMainS1FooterProducto {
    // border: blue solid 1px;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    text-align: center;
    padding-bottom: 0.5em;

    span {
        font-size: calc(0.5vw + 1rem);
    }

    p {
        font-size: calc(0.5vw + 0.8rem);
        font-weight: 1;
    }

}

.productoMainS1FooterPrecioIcon {
    strong {
        // border: #00ddfa solid 1px;
        color: black;
        font-weight: 1;
        font-size: calc(1vw + 0.7rem);
    }

    a {
        // border: #00ddfa solid 1px;
        display: inline-block;
        width: 2rem;
        padding: 0.1em;

        svg {
            fill: #fafafa;
            width: 100%;
            height: 100%;
        }
    }
}

.productoMainS2 {
    // border: #00ddfa solid 1px;
    font-family: $fuentePrincipal;
    padding-top: 1rem;
}

.productoMainS2Filtro {

    // border: #f77062 solid 1px;
    .dropbtn {
        width: 10rem;
    }

    .offcanvas {
        background-color: #14131346;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}

.productoMainS2ContendorProductos {
    border: #00ddfa solid 0px;
}

