.carroMain {
    background-color: #e2ebf0;
    display: flex;
    justify-content: center;
}

.carroMainS1 {
    /* background: red; */
    display: grid;
    grid-template-columns: 75% auto;
    grid-template-rows: 12rem auto;
    column-gap: 1rem;
    row-gap: 1rem;
    width: 112.5rem;
    padding: 1em;
}

.carroMainS1CarritoCompra {
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0.5em 2em;
    width: 100%;
    grid-row: span 2;
}

.carroMainS1CarritoCompra h1 {
    color: black;
    padding: 0.2em;
    font-size: 2.4rem;
    text-align: center;
    /* background-color: #04f3c3; */
}

.carroMainS1Producto {
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    /* background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%); */
    margin-bottom: 1rem;
    padding: 0.5em;
    display: flex;
    gap: 1rem;
}

.carroMainS1ContenedorImg {
    background-color: #0f2a41;
    width: 10rem;
    height: 10rem;
}

.carroMainS1ContenedorImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carroMainS1InfoProducto {
    /* background-color: #aec4bf; */
    display: flex;
    flex-direction: column;
    grid-column: 2;
    padding: 0.5em;
    flex-grow: 1;
}

.carroMainS1Descripcion {
    /* background-color: rgb(0, 255, 98); */
    height: 80%;
}

.carroMainS1Descripcion img {
    /* background-color: #04f3c3; */
    width: 4rem;
    min-height: 4rem;
}

.carroMainS1Descripcion form {
    /* background-color: #04f3c3; */
    width: 8rem;
}

.carroMainS1Destalles {
    height: 20%;
    /* background-color: rgb(145, 255, 0); */
}

.carroMainS1Destalles a {
    text-decoration: none;
    color: #0F5EA1;
    margin-right: 1rem;
}

.carroMainS1ResumenCompra {
    background-color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0.5em;
    line-height: 2.5rem;
    width: 100%;
    justify-self: center;
    grid-column: 2;
}

.carroMainS1ResumenCompra h2 {
    /* background-color: #0f2a41; */
    padding: 0.32em 0;
    font-size: 1.5rem;
}

.carroMainS1ResumenCompra p {
    margin: 0;
}

.carroMainS1ResumenCompra a {
    text-decoration: none;
    color: #020202;
    background-color: #f1f500;
    padding: 0.4em 1rem;
    border-radius: .2rem;
}

.carroMainS1OtrosProductos {
    background-color: rgb(255, 255, 255);
    grid-column: 2;
    padding: 0.5em;
    font-family: 'Josefin Sans', sans-serif;
}

.carroMainS1OtrosProductos h3 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.carroMainS1ContenedorOtros {
    /* background-color: #a7c2bc; */
    padding: 0.1em;
    max-height: 55rem;
}

.carroMainS1OtroArticulo {
    /* background-color: red; */
    margin-bottom: 0.2rem;
    display: flex;
}

.carroMainS1OtroArticulo img {
    /* background-color: #0fe160; */
    width: 7rem;
    height: 7rem;
}

.carroMainS1OtroArticulo ul {
    /* background-color: rgba(0, 0, 255, 0.418); */
    padding: 0.4em;
    line-height: 1.5rem;
}

.carroMainS1OtroArticulo li {
    list-style: none;
    font-size: 0.9rem;
}

.carroMainS1OtroArticulo span {
    font-size: 1.1rem;
}

.carroMainS1OtroArticulo p {
    line-height: 0.7rem;
}

.carroMainS1ContenedorOtros strong {
    color: rgb(156, 19, 19);
}

.carroMainS1OtroArticulo button {
    background-color: #f1f500;
    border-style: none;
    padding: 0 2em;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 2rem;
}

.carroMainS1OtroArticulo a {
    text-decoration: none;
    color: #020202;
    font-size: 1rem;
}