.inicioMainS1 {
    //border: rgb(106, 255, 0) solid 2px;
    font-family: $fuentePrincipal;
    height: auto;
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
        //border: #020202 solid 1px;
        color: $colorHeader;
        width: 80%;
        text-align: center;
        top: 0;
        text-align: center;
        margin: 0;
        font-size: calc(1vw + 1.2rem);
        padding: 0.5em 0;
    }

    .carousel {
        width: 100%;
    }
}



.inicioMainS1Waves {
    // border: #00ddfa solid 1px;
    fill: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 35px;
}

.inicioMainS2 {
    // border: #00ddfa solid 1px;
    padding: 0.5em;
    overflow: hidden;
    /*Para que el contenido que se desborde, no genere un  'after'*/
    font-family: $fuentePrincipal;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inicioMainS2Titulo {
    padding: 0.5rem;
    text-align: center;

    h2 {
        font-size: calc(1vw + 1.1rem);
    }
}

.inicioMainS3 {
    @extend .inicioMainS2;
}

.inicioMainS3Titulo {
    @extend .inicioMainS2Titulo;
}

.contenedorImg {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;

    .inicioMainS3Categoria {
        position: absolute;
        top: 0;
        background-color: #0202024e;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        transition: all linear 0.5s;

        strong {
            font-size: calc(1vw + 1rem);
        }

        &:hover {
            opacity: 0;
        }
    }
}

.inicioMainS4 {
    @extend .inicioMainS2;
}

.inicioMainS4Titulo {
    @extend .inicioMainS2Titulo;
}

.inicioMainS4ContenedorMarcas {
    // border: #020202 solid 1px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 70%;
    gap: 1rem;
    padding: 0.5em;

}

.inicioMainS4Marca {
    padding: 0.5em;

    a {
        svg {
            fill: $colorHeader;

        }

        &:hover svg {
            animation: jello-vertical 0.9s both;
        }
    }

}

@-webkit-keyframes jello-vertical {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    40% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    50% {
        -webkit-transform: scale3d(0.85, 1.15, 1);
        transform: scale3d(0.85, 1.15, 1);
    }

    65% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    75% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes jello-vertical {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    40% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    50% {
        -webkit-transform: scale3d(0.85, 1.15, 1);
        transform: scale3d(0.85, 1.15, 1);
    }

    65% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    75% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}