.btnBasico {
    padding: 0.5em 2em;
    border-radius: 2rem;
    transition: all linear 0.2s;
    text-decoration: none;
    color:$colorHeader;
   
    &:hover {
        filter: invert(2);
    }
}

.btnCarritoCompra {
    @extend .btnBasico;
    background-color: #F1C40F;
}

.btnCarritoCompraV2 {
    @extend .btnBasico;
    width: fit-content;
    padding: 0.1em 2em;
    border-radius: 2rem;
    background-color: #F1C40F;
}

.btnv1 {
    @extend .btnBasico;
    background-color: $colorHeader;
    color: invert($colorHeader);

}

.btnV2 {
    @extend .btnBasico;
    border-radius: 0.5rem;
    background-color: $colorHeader;
    color: invert($colorHeader);
    border: none;

}