.card {
    border: 4px solid;
    border-image: linear-gradient(to top right, rgba(1, 223, 226, 0.912), rgba(232, 140, 2, 0.899) 50%, rgba(236, 6, 236, 0.963));
    border-image-slice: 1;
    color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 50px 5px rgb(252, 252, 252);
    transition: all linear 0.5s;

    &:hover img {
        transform: scale(1.02);
    }

}

.cardContenedorImg {
    width: 100%;
    /* El alto de pagina se adapta  a la imagen height: auto; */
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        transition: all linear 0.3s;
    }
}

.cardMain {
    // border: blue solid 1px;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    text-align: center;
    padding-bottom: 0.5em;

    strong {
        font-size: calc(1vw + 0.5rem);
    }

    p {
        font-size: calc(1vw + 0.4rem);
        font-weight: 1;
    }

}

.cardFooter {
    display: flex;
    justify-content: space-evenly;

    strong {
        // border: #00ddfa solid 1px;
        color: black;
        font-weight: 1;
        font-size: calc(1vw + 0.7rem);
    }

    a {
        // border: #00ddfa solid 1px;
        display: inline-block;
        width: 2rem;
        padding: 0.1em;

        svg {
            fill: #fafafa;
            width: 100%;
            height: 100%;
        }
    }
}

.cardV1 {
    @extend .card;
    border: rgb(152, 148, 148) 1px solid;
    border-image: none;
    border-image-slice: 0;
    box-shadow: 0px 0px 5px 2px rgb(113, 110, 110);
    color: $colorHeader;
}

.cardV1Main {
    @extend .cardMain;
    background-image: linear-gradient(to bottom, #fdfcfb 0%, #e2d1c3 100%);
   // border: #f77062 solid 1px;
    p {
        font-size: calc(1vw + 0.3rem);
        margin: 0;
        font-weight: 1;
    }
}

.cardV1Footer {
    @extend .cardFooter;

    a {
        svg {
            fill: $colorHeader;
        }
    }
}

.cardV1Descripcion {

    position: absolute;
    top: 0;
    padding: 0.2em;

    svg{
        width: 1.5rem;
        fill: $colorHeader;
    }

    p {
        color: white;
        display: none;
        text-align: center;
        font-size: calc(1vw + 0.4rem);
    }

    &:hover {
        background-color: rgba(41, 40, 40, 0.562);
        svg{
            filter:invert(1);
        }
        p {
            display: block;
        }

    }
}

.cardProducto {
    //border: $colorFooter solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;/**IMPORTAMTE*/
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 0;
    transition: all linear 0.5s;
    position: relative;

    &:hover {
        transform: translateY(-5px);

        img {
            transform: scale(1.02);
        }
    }

    &::before {
        content: "";
        display: block;
        background-color: $colorTarjetaProducto;
        width: 100%;
        height: 65%;
        position: absolute;
        bottom: 0;
        z-index: -1;
    }

}

.cardProductoImg {
    //border: rgba(0, 26, 255, 0.774) solid 1px;
    width: 80%;
    overflow: hidden;
    border-radius: 0.5rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all linear 0.5s;
    }
}

.cardProductoMain {
    //border: #ffffff solid 1px;
    background-color: $colorTarjetaProducto;
    width: 100%;
    padding: 0.5rem;
    color: white;

    strong {
        font-size: calc(0.5vw + 0.6rem);
        font-weight: normal;
    }

    p {
        margin: 0;
        font-size: calc(0.4vw + 0.4rem);
    }
}

.cardProductoFooter {
    //border: yellow solid 1px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.1rem;
    width: 100%;
    strong {
        color: rgb(47, 255, 0);
    }

    .cardProductoFooterIconos{
       //border: beige solid 1px;

        a {

            background-color: #ffffff;
            width: calc(0.8vw + 1.5rem);
            display: inline-block;
            border: rgb(255, 255, 255) solid 0px;
            border-radius: 50%;
            padding: 0.2em 0.5em 0.3em 0.5em;
            transition: all linear 0.5s;

            svg {
                fill: $colorTarjetaProducto;
                width: 100%;
                height: 100%;
                transition: all linear 0.5s;

            }

            &:hover {
                background-color: $colorTarjetaProducto;

                svg {
                    fill: #ffffff;
                }

            }
        }

    }
}