.productoMainS2Producto {
    border: $colorFooter solid 1px;
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 0;
    transition: all linear 0.5s;
    position: relative;

    &:hover {
        transform: translateY(-5px);

        img {
            transform: scale(1.02);
        }
    }

    &::before {
        content: "";
        display: block;
        background-color: $colorTarjetaProducto;
        width: 100%;
        height: 65%;
        position: absolute;
        bottom: 0;
        z-index: -1;
    }

}

.productoMainS2ContenedorImg {
    border: rgba(0, 26, 255, 0.774) solid 1px;
    width: 80%;
    overflow: hidden;
    border-radius: 0.5rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all linear 0.5s;
    }
}

.productoMainS2InfoProducto {
    // background: linear-gradient(to left, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
    // background-blend-mode: multiply, multiply;
    //border: #ffffff solid 1px;
    margin-bottom: 2.8rem;
    background-color: $colorTarjetaProducto;
    width: 100%;
    padding: 0.5rem;
    color: white;

    strong {
        font-size: calc(0.5vw + 0.6rem);
        font-weight: normal;
    }

    p {
        margin: 0;
        font-size: calc(0.4vw + 0.4rem);
    }
}

.productoMainS2InfoProductoPrecioIcon {
    position: absolute;
    bottom: 0;
    //border: yellow solid 1px;
    strong {
        color: rgb(47, 255, 0);
    }

    .productoMainS2InfoProductoContenedorIcon {
       // border: beige solid 1px;

        a {

            background-color: #ffffff;
            width: calc(0.8vw + 1.5rem);
            display: inline-block;
            border: rgb(255, 255, 255) solid 0px;
            border-radius: 50%;
            padding: 0.2em 0.5em 0.3em 0.5em;
            transition: all linear 0.5s;

            svg {
                fill: $colorTarjetaProducto;
                width: 100%;
                height: 100%;
                transition: all linear 0.5s;

            }

            &:hover {
                background-color: $colorTarjetaProducto;

                svg {
                    fill: #ffffff;
                }

            }
        }

    }
}